.containimg{
    display: flex;
    flex-direction: row;
   flex-wrap: wrap;
  justify-content: space-around;
   
}
.card{
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 100%;
}
h1{
    text-align: center;
}
img{
    margin: 2%;
    
    width: 100px;
    height: 100px;
}
