<h1>Galerie photos</h1>
<div class="containimg">

    <div *ngFor="let source of tabSources" class="card col-12 col-sm-6 col-md-4 col-lg-3" style="width: 18rem;">
        <img src="http://localhost:3000/api/images/{{source.pathFile}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{source.title}}</h5>
            <p class="card-text">{{source.description}}
                .</p>
            <a href="#" class="btn btn-warning">Télécharger</a>
        </div>
    </div>


</div>
<!--fin du containimg-->