<h1>Galerie photos</h1>
<div class="containimg">

    <div *ngFor="let source of tabSources" class="card col-6 col-sm-5 col-md-3 col-l-3 col-xl-1" >
        <img src="{{buildUrlImg(source.pathFile)}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{source.title}}</h5>
            <p class="card-text">{{source.description}}</p>
                
            
            <button *ngIf="useraccess()" type="button" class="btn btn-warning"><a href="{{buildUrlHref(source._id)}}">Télécharger</a></button>
        </div>
    </div>


</div>
<!--fin du containimg-->