.containimg{
    display: flex;
    flex-direction: row;
   flex-wrap: wrap;
  
   
}
.card{
    margin: 2%;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 10px;
    height: 350px;
}
h1{
    text-align: center;
}
img{
    margin: auto;
    margin-top: 2%;
    width: 100px;
    height: 100px;
}
