*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.containimg{
    display: flex;
    flex-direction: row;
   flex-wrap: wrap;
  justify-content: space-around;
   
}
.card{
    margin: 2%;
    margin-top: 3%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
   height: 380px;
   box-shadow: 4px 4px 8px grey;
   
   
}
/*.card:hover{
    transform: scale(1.4);
    box-shadow: 3px 3px 8px;
}*/
h1{
    text-align: center;
    font-weight: bolder;
}
h5{
    font-style: italic;
    font-weight: bolder;
    height: 80px;
    display: flex;
    
    align-items: center;
    word-wrap: break-word;
}
img{
   
    height: 104px;
}
img:hover{
    transform: scale(2);
}

a{
    text-decoration-line: none;
    color: black;
}
button{
  box-shadow: 2px 2px 6px; 
  font-size:0.6em; 
}
button:hover{
    transform: scale(1.1);
    box-shadow: 3px 3px 8px;
}
p{
    height: 110px;
}
