
<div class="containalert">
<div *ngIf="validation" class="alert alert-danger" role="alert">
    Erreur de saisie Pseudo/Mot de passe
</div>
</div>
<div class="containform">
    <form [formGroup]="formAuth" (ngSubmit)="onValidateForm()">
        <h4>Connecte-toi !</h4>
        <label for="">Pseudo</label>
        <input type="text" name="pseudo" placeholder="Entrez votre pseudo" formControlName="identifiant">
        <br/>
        <label for="">Mot de passe</label>
        <input type="password" name="password" placeholder="Entrez votre mot de passe" formControlName="password">
        <br/>
        <button  [disabled]="!formAuth.valid" name="sub">Se connecter</button>
        <br/>
        <a href="" routerLink="/creation-utilisateur">Nouveau ? Créer un compte</a>
    </form>
</div>

