<div class="wrapper">

  <div class="navleft">
    <button type="button" class="btn btn-warning" routerLink="/update">Modifier infos compte</button>
    <button type="button" class="btn btn-warning" routerLink="/del">Supprimer compte</button>


  </div>
  <!--fin du navleft-->



  <div class="article">
    <h4>Paramètres du compte</h4>
   
    <!--fin infos-->
    <div class="vosshare">
      <ul>
        <li></li>
      </ul>
    </div><!--fin de vosshare-->

  </div>
  <!--fin de article-->


</div>
<!--fin du wrapper-->