<div class="containformCreation">
    <form [formGroup]="formCreateAuth" (ngSubmit)="onValidateFormCreate()">
        <h2>Inscris toi!</h2>
        
       
        <img src="../assets/images/edit.png" alt="">
        <input type="text" name="pseudo" placeholder="Entrez votre pseudo" formControlName="identifiant">
        
       
        <img src="../assets/images/mail.png" alt="">
        <input type="mail" name="mail" placeholder="Entrez une adresse mail" formControlName="mail">
       
        <img src="../assets/images/password.png" alt="">
        <input type="password" name="password" placeholder="Entrez votre mot de passe" formControlName="password">
        <button [disabled]="!formCreateAuth.valid">S'inscrire</button>

    </form>
</div>