
<div class="containfooter">
    <img class="flag" src="../assets/images/goldtexture.jpg" alt="">
    <img src="../assets/images/bread.png" alt="icon freeshare"> 
<h3>Freeshare</h3>
<div class="elements">
<div class="icons"> 
  <h5>Partenariats</h5>
Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
Images by <a href="https://pixabay.com/fr/" title="Pixabay">Pixabay</a> 
</div><!--fin icons-->
<div class="contacts">
<h5>Contacts</h5>
<img src="../assets/images/mail.png" alt="">
<a href="mailto:">kenshiin185@outlook.fr</a> 

</div><!--fin contacts-->
<div class="infos">
<h5>Infos</h5>

  <a href="" routerLink="/politiquecf" target="" rel="noopener noreferrer">POLITIQUE DE CONFIDENTIALITE</a> 
  <br>

</div><!--fin infos-->
</div><!--fin elements-->
<img class="flag bot" src="../assets/images/goldtexture.jpg" alt="">
</div><!--fin containfooter-->
