<nav class="navbar navbar-expand-lg navbar-dark bg-black">
   <!-- *ngIf="useraccess()"-->
        <a routerLink="update"><img  src="../assets/images/nain3.png" width="80"
                height="80" /></a>
    
    <div class="navbar-brand warning">Freeshare</div>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{'show': navbarOpen}">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <button type="button" class="btn btn-warning" routerLink="/">Accueil</button>
            </li>

            <li class="nav-item">
                <button type="button" class="btn btn-warning" routerLink="/partager">Partager</button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-warning" (click)="navig()">{{messgbtn}}</button>
            </li>
            <li class="nav-item">
                <div class="btn-group " dropdown>
                    <button id="button-basic" dropdownToggle type="button" class="btn btn-warning dropdown-toggle"
                        aria-controls="dropdown-basic"><span class="caret"></span>
                        Bibliothèques
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                        aria-labelledby="button-basic">
                        <li role="menuitem"> <a class="dropdown-item" routerLink="/videos">Vidéo</a></li>
                        <li role="menuitem"> <a class="dropdown-item" routerLink="/audio">Audio</a></li>
                        <li role="menuitem"> <a class="dropdown-item" routerLink="/photos">Photos</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>