nav{
    display: flex;
    flex-direction: row;
    background-color:black;
    color: gold;
    height: 70px;
    align-items: center;
    width: 100%;
    height: auto; 
}
.navbar-brand{
    color: gold;
}
button{
    display: flex;
    flex-direction: row;
    background-color:none;
    color: black;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    height:40px;  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition:0.5s;
    background-size: 220%;
    background-image: linear-gradient(
        to right,
        rgb(255, 196, 0),
        #fcfbbe,
        rgb(255, 196, 0)
    );
}
button:hover{
   background-position:right;
    
    
}
.head{
    width:100%;
   
    background-color: black;
    padding-bottom: 1%;
}
.containbutton{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav li{
    padding: 4px;
}
