<div class="head">
<nav>
  
    <a href="http://"><img src="../assets/images/nain3.png"/></a>
    <h1>Freeshare</h1>
    <a routerLink="connection">Connection</a>

</nav>
<div class="containbutton">
    <button routerLink="/">Accueil</button>
    <button routerLink="/videos">Vidéos</button>
    <button routerLink="/audio">Audio</button>
    <button routerLink="/photos">Photos</button>
    <button routerLink="/partager">Partager</button>
    <button routerLink="/top10">Top 10</button>
</div>
</div>

