nav{
    display: flex;
    flex-direction: row;
    background-color:black;
    color: gold;
    height: 143px;
    align-items: center;
    
}
button{
    display: flex;
    flex-direction: row;
    background-color:gold;
    color: black;
   /*font-size:0.68em;*/
    align-items: center;
    justify-content: space-around;
}
.head{
    width:100%;
    display: flex;
    flex-direction: column;
    background-color: black;
    padding-bottom: 1%;
}
.containbutton{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}