*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}
.containLastPost{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    
}
p{
    text-align: center;
}
a{
    margin-top: 2%;
    margin-bottom: 2%;
    color: black;
    text-decoration-line:none;
}
h1{
    text-align: center;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    background: linear-gradient(to right, gold, rgb(56, 54, 54));
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 600px;
    margin: auto;
    transition: .5s;
    animation: slideDown 0.7s;
}

@keyframes slideDown{
    0%{
        transform: translateX(-50%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

h5{
    font-style: italic;
    font-weight: bolder;
}
img{
    width: 80px;
    height: 8Opx;
}
.card{
   
    border: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    height:max-content;
}
button{
    display: flex;
    flex-direction: row;
    background-color:none;
    color: black;
    align-items: center;
    justify-content: space-around;
    width: 100px;
    margin: auto;
    height:40px;  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition:0.5s;
    background-size: 220%;
    background-image: linear-gradient(
        to right,
        rgb(255, 196, 0),
        #fcfbbe,
        rgb(255, 196, 0)
    );
    border: none;
    box-shadow: 2px 2px 5px grey;
}
button:hover{
   background-position:right;
    
    
}
p{
    margin-top: 3%;
}
@media screen and (min-width: 200px) and (max-width: 830px) {
    *{
        margin: auto;
    }
    .card-text{
        display:none;
    }
    h5{
        display: none;
    }

    .containLastPost{
        display: flex;
        flex-direction: column;
    }
    .card{
        width: 100%;
        margin-top: 5%;
        height:100%;
      
    }
    .btn{
        margin-top: 3%;
        margin: auto;
        width: 100px;
    }
    h1{
        width: 80%;
        font-size:22px;
        margin: auto;
        margin-bottom: 5%;
    }
    img{
        width: 100%;
        margin: auto;
    }
}
#flag{
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
    font-size:0.5em ;
    border: 0.5px solid grey;
    border-radius: 6px;
    width: 95%;
    margin: auto;
    background-color: rgba(247, 244, 244, 0.911);
    z-index: 99;
}


p{
    margin: auto;
}
.card img{
    width: 100px;
    height: 130px;
}

