
.containLastPost{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    width: 45%;
    margin: auto;
}
p{
    text-align: center;
}
a{
    margin-top: 2%;
    margin-bottom: 2%;
}
h1{
    text-align: center;
}
img{
    width: 50%;
    height: 50%;
}
.card{
    margin: 2%;
    border:none;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 25%;
    height: 25%;
}
