*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.containLastPost{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    width: 45%;
    margin: auto;
}
p{
    text-align: center;
}
a{
    margin-top: 2%;
    margin-bottom: 2%;
    color: black;
    text-decoration-line:none;
}
h1{
    text-align: center;
}
h5{
    font-style: italic;
    font-weight: bolder;
}
img{
    width: 100px;
    height: 100px;
}
.card{
    margin: 6%;
    border:none;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 15%;
    height: 15%;
}
button{
    display: flex;
    flex-direction: row;
    background-color:none;
    color: black;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    height:40px;  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition:0.5s;
    background-size: 220%;
    background-image: linear-gradient(
        to right,
        rgb(255, 196, 0),
        #fcfbbe,
        rgb(255, 196, 0)
    );
    border: none;
    box-shadow: 2px 2px 5px grey;
}
button:hover{
   background-position:right;
    
    
}
