
<h1>Les derniers partages de la communauté</h1>
<div class="containLastPost">
  <div *ngFor="let source of tabSources" class="card col-8 col-sm-3 col-md-4 col-lg-4" >
    <img src="{{buildUrlImg(source.pathFile)}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{source.title}}</h5>
      
     <button *ngIf="useraccess()" type="button" class="btn btn-warning">
       <a href="{{buildUrlHref(source._id)}}" target="_self">Télécharger</a>
     </button>
    </div>
  </div>
</div>
<!--fin du containLastPost-->
<p *ngIf="!useraccess()">Bienvenue sur Freeshare !<br />
  La plateforme de téléchargement et de partage.<br/> Pour pouvoir profiter de l’application 
  et de ses fonctionnalités,<br/>rejoins la communauté<br />
  en t'inscrivant dans l'onglet connexion.
  <div *ngIf="!useraccess()" id="flag">
    <p>En poursuivant la navigation sur Freeshare vous acceptez les conditions générales d'utilisation.</p>
    <button class="btnflag"(click)='display()'>Accepter</button>
  </div>