<div class="containformshare">
    <form [formGroup]="formShare" (ngSubmit)="onValidateFormShare()">
        <h4>Pour partager c'est içi !!</h4>
        <label for="">Fichier</label>
        <input [disabled]="idrecu" type="file"class="file" (change)="onUpload($event.target.files)"/>
        <label for="">Titre</label>
        <input type="text" name="titre" placeholder="Entrez votre titre" formControlName="titre">
        <label for="">Description</label>
       <textarea name="description" id="" cols="25" rows="4" maxlength="30" placeholder="Max 30 caractères" formControlName="description"></textarea>
        <button [disabled]="!isValid">Partager</button>

    </form>
</div>