*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.containformModif{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
    
}
form{
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    border: 1px solid black;
    background-color: rgb(164, 241, 101);
    border-radius:4%;
    box-shadow:2px 2px 6px ;
    margin-left: 45%;
    margin-top: 5%;
    transition: .5s;
    animation: slideDown 0.8s;
}
.sup{
    transition: .5s;
    animation: slideRight 0.8s;
    width: 150px;
    margin-right: 0;
    
}
@keyframes slideDown{
    0%{
        transform: translateY(200px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideRight{
    0%{
        transform: translateX(200px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
h1{
    text-align: center;
    font-size: 1.4em;
    
}
button btn{
    height: 80px;
    margin-left: 100px;
    
    
}
.sup{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
    padding: auto;
    height: 80px;
    width: 200px;
    margin-top: 10%;
    
  
}
.card{
    width:900px;
    border: none;
    
}
.card,.card-body,.card-title{
    display: flex;
    flex-direction: row;
}
.card-body{
    justify-content: space-between;
}

.wrapUserShareData{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1300px;
    margin: auto;
    margin-top: 5% ;
        margin-bottom:5%;
    justify-content: center;
    align-items: center;
}
img{
    height: 75px;
    width: 100px;
}

@media screen and (min-width: 200px ) and (max-width: 770px ){
     .wrap{
        display: flex;
        flex-direction: column;
        margin: auto;
        
        flex-wrap: wrap;
    
    }
    h5{
        display: none;
    }
    .card-title h3{
        display:none;
    }
    form{
        margin: auto;
    }
    .sup{
        margin: auto;
    }
    h1{
        width: 90%;
        
        
    }
.card{
    display: flex;
    flex-direction: column;
}
    .wrapUserShareData{
        display: flex;
        flex-direction:column;
        width:auto;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;
        max-width: 300px;
    }
   
}

